.footer {
  background-color: rgb(66, 74, 80, 0.8);
  background-color: rgb(66, 74, 80);
  width: 100%;
  position: fixed;
  bottom: -20px;
  z-index: 10;
  margin: 0;
  padding: 0;
  max-height: 120px;
}
.hidden-footer-form {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
  background-color: rgb(95, 95, 95);
  transition: all 1s ease-in-out;
  padding: 10px;
  height: 0;
  /* transform: translateY(100px);
    transform-origin: bottom; */
}
/* .hidden-footer-form:hover {
    transition: transform 1500ms ease-in-out;
  } */

.leave-contact-form input {
  text-align: right;
  margin: 0px;
  width: 80%;
  margin: auto;
  padding: 10px;
  font-size: 110%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.leave-contact-form {
  color: aliceblue;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  background-color: rgb(107, 107, 107);
  padding: 10px;
}
.leave-contact-button {
  padding: 10px;
  margin: auto;
  background-color: rgb(65, 126, 213, 0.8);
  font-weight: 800;
  font-size: 105%;
  color: rgb(235, 235, 235);
  cursor: pointer;
  transition: color 300ms ease-in-out;
  transition: transform 1300ms ease-in-out;
  border-radius: 15px;
}
.leave-contact-button:hover {
  background-color: rgb(65, 126, 213);
  color: rgb(255, 255, 255);
  transition: color 300ms ease-in-out;
  transform: translateY(-10px);
  transition: transform 1500ms ease-in-out;
}
.leave-contact-button:focus {
  outline: none;
}
.leave-contact-button-send {
  padding: 10px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(65, 126, 213, 0.8);

  font-weight: 800;
  font-size: 110%;
  color: rgb(235, 235, 235);
  cursor: pointer;
  transition: color 1300ms ease-in-out;
  transition: transform 1300ms ease-in-out;
}
.leave-contact-button-send:hover {
  background-color: rgb(65, 126, 213);
  color: rgb(255, 255, 255);
  transition: color 300ms ease-in-out;
  transform: scale(1.1);
  transition: transform 1500ms ease-in-out;
}

.close-hidden-footer-form-button {
  background-color: transparent;
  display: block;
  margin: auto;
  margin-top: 10px;
  border: solid #f0f0f0 1px;
  border-radius: 5px;
  font-weight: 600;
  padding: 10px;
  font-size: 110%;
  color: rgb(240, 240, 240);
  transition: 300ms;
  cursor: pointer;
  outline: none;
}

.close-hidden-footer-form-button:hover {
  background-color: rgb(240, 240, 240);
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-top: 10px;

  color: black;
  transition: 300ms;
  outline: none;
}
.info-footer {
  background-color: #333;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.info-footer-div {
  margin: 10px;
  padding: 50px;
  font-family: Arial;
  text-align: center;
  font-weight: 600;

  color: rgb(240, 240, 240, 0.9);
}
.info-footer-div h4 {
  font-size: 90%;
}
.info-footer-div h5 {
  font-size: 80%;
}
