.info-footer {
  width: 100%;
}
.info-footer-div {
  background-color: #01458a;
  color: white;
  width: 100%;
  flex-direction: row;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  text-align: right;
}
.info-footer h5 {
  font-size: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.info-footer h6 {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 800px) {
  .info-footer-div h5 {
    width: 100%;
    margin-right: 20px;
    margin-left: 150px;
  }
  .info-footer-div h6 {
    width: 100%;
    margin-right: 20px;
    margin-left: 150px;
  }
}
