.projects-grid {
  border: solid white 1px;
  font-weight: 700;
  z-index: 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 30px;
  text-align: center;
  font-family: Arial;
  color: #01458a;
  max-width: 1200px;
}
.project-partition {
  max-width: 350px;
  font-size: normal;
  display: block;
  right: 0;
  left: 0;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.text-area {
  height: 40%;
  color: white;
  background-color: rgb(1, 69, 137, 0.9);
}
.project-partition h4 {
  color: #ffffff;
  animation-name: project-fade-in-from-up;
  animation-duration: 800ms;
  animation-delay: 800ms;
  padding-top: 10px;
  padding: 5px;
  font-size: 140%;
}
.project-partition h3 {
  font-size: 135%;
  color: white;
  font-weight: 600;
}
.project-partition img {
  width: 100%;
  height: 55%;
  animation-name: fade-in-from-up;
  animation-duration: 900ms;
}
.cproject-partition p {
  animation-name: fade-in-from-down;
  animation-duration: 900ms;
}
@keyframes fade-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes projects-fade {
  0% {
    opacity: 00;
    transform: translateX(-30px);
  }
  50% {
    opacity: 0;
    transform: translateX(-15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes project-fade-in-from-up {
  0% {
    opacity: 00;
    transform: translateY(-30px);
  }
  50% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade-in-from-down {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
