.projects-grid {
  /* border: solid white 1px; */
  z-index: 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 30px;
  text-align: center;
  color: #01458a;
  max-width: 1200px;
}
.projects-row {
  width: 100%;
  display: flex;
  justify-content: center;

  /* background-color: whitesmoke; */
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 60%,
    whitesmoke 70%,
    whitesmoke 100%
  );
}
.projects-row h1 {
  font-family: Assistant, sans-serif;
  font-size: 225%;
  font-weight: 600;
}
.project-partition {
  max-width: 350px;
  font-size: normal;
  display: inline-block;
  right: 0;
  left: 0;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: black 3px 3px 3px;
  font-family: Assistant, sans-serif;
}
.text-area {
  height: 30%;
  height: 100px;
  color: white;
  background-color: #014589e6;
  padding-top: 20px;
  font-family: Assistant, sans-serif;
}
.project-partition h4 {
  color: #ffffff;
  animation-name: project-fade-in-from-up;
  animation-duration: 800ms;
  animation-delay: 100ms;
  padding-top: 10px;
  padding: 5px;
  font-size: 140%;
  font-weight: 400;
}
.project-partition h3 {
  font-size: 135%;
  color: white;
  font-weight: 600;
  font-family: Assistant, sans-serif;
}
.project-partition img {
  width: 100%;
  height: 200px;
  /* height: 70%; */
  animation-name: fade-in-from-up;
  animation-duration: 900ms;
  margin-bottom: -4px;
}
.cproject-partition p {
  animation-name: fade-in-from-down;
  animation-duration: 900ms;
  font-family: Assistant, sans-serif;
}
@keyframes fade-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes projects-fade {
  0% {
    opacity: 00;
    transform: translateX(-30px);
  }
  50% {
    opacity: 0;
    transform: translateX(-15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes project-fade-in-from-up {
  0% {
    opacity: 00;
    transform: translateY(-30px);
  }
  50% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade-in-from-down {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (min-width: 600px) {
  .projects-row h1 {
    font-size: 250%;
  }
}
