.navbar button {
  border: none;
  display: none;
}

.side-nav {
  height: 100%;
  text-align: center;
  width: 0;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background-color: rgb(240, 240, 240);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 500ms;
  font-size: 110%;
  font-family: Arial;
}

.side-nav a {
  padding: 10px;
  text-decoration: none;
  color: rgb(17, 17, 17);
  transition: opacity 2100ms ease-in-out;
  transition: color 300ms ease-in-out;
}
.side-nav a:hover {
  color: rgb(116, 116, 116);
}

.side-nav button {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: rgb(95, 90, 90);
  display: block;
  transition: 0.3s;
  background-color: transparent;
  border: none;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.navBarLogo {
  max-width: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
}
#topNavbarItems {
  font-family: Arial;
  font-weight: 500;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}
#topNavbarItems a {
  color: rgb(49, 49, 49);
  font-size: 110%;
  transition: 600ms;
  padding: 10px;
}
#topNavbarItems a:hover {
  color: rgb(163, 163, 163);
  transition: 600ms;
  text-decoration: none;
}

#side-search-bar {
  margin-left: 28px;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .navbar button {
    display: block;
  }
  #topNavbarItems {
    display: none;
  }
  #smaller-display-side-navbar-items {
    display: block;
    font-size: 90%;
    transition: 3000ms;
  }
}

@media (min-width: 568px) {
  .open-slide {
  }
}
